main .franklin-banner-section > div {
    max-width: unset;
}

main .franklin-banner-section {
    padding: 0;
}

main .franklin-banner {
    position: relative;
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

main .franklin-banner h2 {
    color: var(--white-color);
}


main .franklin-banner .image-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}
